@{
    //ViewBag.Title = "Πτυχιούχος 2.0";
}

<div class="grids-slider-grid-row2">
    <a class="tile chat" href="@Href("~/")">
        <div class="title">
            Συνομιλία
        </div>
        <div class="clear"></div>
    </a>

</div>
<div class="grids-slider-grid-row2">
    <a class="tile tangram" href="@Href("~/Games/Tangram/Index")">
    </a>
</div>
